h1 {
    font-family: fantasy;
}

span#gray {
    color: #3a3939;
    font-size: 1rem;
}

body {
    background-color: #e6dbdb;
}

img {
    display: none;
}

div#list {
    padding: 1rem;
    background-color: #f33f3f;
    display: none;
}