h1 {
    font-family: fantasy;
}

span#title {
    border-style: solid;
    border-width: thick;
    padding: 5px;
}

span#gray {
    color: #3a3939;
    font-size: 1rem;
}

main {
    width: 80%;
    background-color: whitesmoke;
    margin: 1rem auto;
}

.actions .button {
    margin-bottom: 0;
}

.template {
    display: none;
}

.flickName {
    margin: 0 0.75rem;
}