h1 {
    font-family: fantasy;
    margin-top: 15px;
    margin-left: 8px;
    color: white;
}

span#title {
    padding: 0 8px 0 8px;
    background-color: red;
}

span#gray {
    color: red;
    font-size: 1rem;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-top-style: solid;
    border-top-color: red;
    padding-bottom: 4px;
    padding-top: 4px;
}

main {
    width: 80%;
    background-color: whitesmoke;
    margin: 1rem auto;
}

.actions .button {
    margin-bottom: 0;
}

.template {
    display: none;
}

.flickName {
    margin: 0 0.75rem;
}